html, body{
  height: 100%;
  width: 100%;
  font-family: 'Inconsolata', monospace;
  color:#000000;
}

h1#abouthead {
  margin-bottom: 20px;
}
p {
  margin-top: 20px;
  font-size: 1.2em;
}

.navbar{
  padding: 0.5rem;
  background-color: rgba(255,255,255,0.5);
}
.navbar-brand img{
  width: 50px;
  height: 50px;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.4em;
}

#summitimg{
  width: 1000px;
  height: 642px;
}

#more {
  display: none;
}

.btn-primary {
  background-color: #6648b1;
  border: 1px solid #564d7c;
}
.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}

.padding {
  padding-bottom: 2rem;
} 
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-location-dot {
  color: #e54d26;
}
.zoom {
  color: #563d7c;
  font-size: 7em;
  margin: 1rem;
}
.youtube {
  color: #2a63af;
  font-size: 4em;
  margin: 1rem;
  
}
.fa-location-dot {
  font-size: 4em;
  margin: 1rem;
}
.fa-location-dot:hover,
.zoom:hover,
.youtube:hover {
  color: #d5d5d5;
}
.fun{
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-video {
  color: #307dca;
}
.fa-instagram {
  color: #517fa8;
}
.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-video:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}

.google-map {
  padding-bottom: 450px;
  position: relative;
}
.google-map iframe {
  height: 80%;
  width: 80%;
  position: absolute;
  top: 45%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  margin-bottom: 0;
  padding-bottom: 0;
}








